html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}
/* 
*:focus-visible,
*:focus-within {
    outline: 1px dotted #fbf;
} */

img,
svg {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

:root {
    --transition-color-03s: color 0.3s ease-in-out;
    --transition-bg-color-03s: background 0.3s ease-in-out;
    --color-focus: #7943A4;
    --color-active: #7943A4;
    --color-hover: #C283F3;
    --color-btn: #9D5CD0;
    --color-btn-hover: #D1A9F0;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-text: #333333;
    --color-gray: #B7B7B7;
}

.flex {
    display: flex;
}

/* HEADER */

.top-wrapper {
    position: relative;
}

.header {
    position: relative;
    z-index: 11;
    color: var(--color-white);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.header-top {
    min-height: 100px;
    background-color: var(--color-black);
}

.header-top_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 160px;
    padding-right: 160px;
}

.logo {
    width: 173px;
}

.header-top__logo {
    width: 175px;
}

.header-top__nav {
    min-width: 50%;
    max-width: 80%;
}

.header-top__list {
    display: flex;
    justify-content: space-between;
}

.header-top__link {
    padding: 0 5px;
    font-weight: 600;
    font-size: 18px;
    color: var(--color-white);
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);
}

.header-top__link:focus-visible {
    background: var(--color-focus);
}

.header-top__link:hover {
    color: var(--color-hover);
}

.header-top__link:active {
    color: var(--color-active);
}

.header-top__login {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);
    padding-left: 25px;
    transition: var(--transition-color-03s);
}

.header-top__login:focus-visible {
    background-color: var(--color-focus);
}

.header-top__login::before {
    content: "";
    position: absolute;
    top: 22%;
    left: 0;
    width: 14px;
    height: 14px;
    overflow: hidden;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23ffffff'/%3e%3c/svg%3e ");
    background-position: right;
    background-repeat: no-repeat;
    transition: background .3s ease-in-out;
    z-index: 20;
}

.header-top__login:hover {
    color: var(--color-hover);
}

.header-top__login:active {
    color: var(--color-active);
}

.header-top__login:hover::before {
    width: 17px;
    height: 14px;
    left: -3px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23C283F3'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: right;
    overflow: visible;
}

.header-top__login:active::before {
    width: 17px;
    height: 14px;
    left: -3px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%237943A4'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: right;
    overflow: visible;
}


.header-top_tablet {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    align-items: center;
    padding: 0 160px;

    display: none;
}

.header__burger,
.header__burger_open {
    border: none;
    width: 36px;
    height: 28px;
    background-color: transparent;
}

.header__burger_open {
    margin-bottom: 60px;
}

.header__burger path,
.header__burger rect {
    transition: fill 0.3s ease-in-out;
}

.header__burger:focus-visible path,
.header__burger:focus-visible rect {
    fill: var(--color-focus);
}

.header__burger:hover path,
.header__burger:hover rect {
    fill: var(--color-hover);
}

.header__burger:active path,
.header__burger:active rect {
    fill: var(--color-active);
}

.burger_none {
    display: none;
    animation-name: burger_cls;
    animation-duration: 0.3s;
    /* transform: translateX(-100%); */
}

.burger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 768px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 35px 160px;
    z-index: 100;
    /* transform: translateX(-100%); */

}

.burger_active {
    display: block;
    /* transform: translateX(0); */
    animation-name: burger_opn;
    animation-duration: 0.3s;

}

@keyframes burger_opn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes burger_cls {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.burger__item:last-child {
    padding-top: 70px;
}

.burger__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: var(--color-white);
    padding: 10px;
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);
}

.burger__link:focus-visible {
    background-color: var(--color-focus);
}

.burger__link:hover {
    color: var(--color-hover);
}

.burger__link:active {
    color: var(--color-active);
}

.header-top__login_tablet {
    display: flex;
    padding: 20px 80px;
    text-align: center;
    background: transparent;
    border-radius: 100px;
    outline: 2px solid var(--color-btn);
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding-left: 160px;
    padding-right: 160px;
    background-color: rgba(0, 0, 0, .5);
}

/* DROPDOWN */

.dropdown {
    background-color: rgba(0, 0, 0, 0.6);
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 160%;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.dropdown.dropdown__active {
    visibility: visible;
    opacity: 1;
}

.dropdown__simplebar {
    height: 220px;
    padding-right: 20px;
}

.dropdown__item {
    position: relative;
    min-height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    color: var(--color-white);
    margin-bottom: 20px;
}

.header-bottom__item {
    position: relative;
    min-height: 30px;
    background-color: transparent;
    color: var(--color-white);
}

.dropdown__item:last-child {
    margin-bottom: 0px;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
    background-color: var(--color-gray);
    width: 2px;
}

.dropdown__simplebar .simplebar-scrollbar {
    width: 2px;
    background-color: var(--color-white);
}

.header-bottom__list {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.header-bottom__btn {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 5px;
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);
}

.header-bottom__btn:focus-visible {
    background: var(--color-focus);
}

.header-bottom__btn:hover {
    color: var(--color-hover);
}

.header-bottom__btn:active {
    color: var(--color-active);
}

.header-bottom__btn::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    margin-left: 10px;
    margin-top: -3px;
    top: 50%;
    left: 100%;
    transform: rotate(135deg);
    transition: transform 0.5s ease;
    transform-origin: center;
}

.header-bottom__btn:hover::after {
    color: var(--color-hover);
}

.header-bottom__btn:active::after {
    color: var(--color-active);
    transform: rotate(-45deg) translateY(4px);
}

.header-bottom__dropdown-group {
    min-width: 65%;
}

.dropdown__link {
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.dropdown__link:focus-visible,
.dropdown__link:hover {
    border: 2px solid var(--color-focus);
}

.dropdown__link:active {
    border: 2px solid var(--color-btn);
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.header-bottom__form {
    position: relative;
}

.header-bottom__form-btn {
    position: absolute;
    top: 5px;
    right: 105%;
    width: 22px;
    padding: 0;
    background: transparent;
    border: none;
}

.header-bottom__input {
    max-width: 200px;
    border: none;
    background: transparent;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    transition: border 0.1s linear;
}

.header-bottom__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
}

.header-bottom__input:focus-within {
    border-bottom-color: var(--color-focus);
}

.header-bottom__input:focus-within::placeholder {
    opacity: 0;
}

.header-bottom__input:hover:not(:focus) {
    cursor: pointer;
    border-bottom-color: var(--color-hover);
}

/* HERO */

.hero {
    padding: 66px 160px 123px 160px;
}

.hero__title_hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.hero__title {
    width: 580px;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    color: var(--color-white);
    margin-bottom: 17px;
}

.hero__descr {
    width: 580px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-white);
    margin-bottom: 94px;
}

.hero__link {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--color-white);
    padding: 24px 35px;
    background: var(--color-btn);
    border: none;
    border-radius: 100px;
    z-index: 100;
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);
}

.hero__link:focus-visible {
    outline: 2px solid var(--color-hover);
    outline-offset: 5px;
}

.hero__link:hover {
    padding: 21px 32px;
    border: 3px solid var(--color-btn-hover);
}

.hero__link:active {
    padding: 21px 32px;
    border: 3px solid var(--color-btn-hover);
    background: var(--color-active);
}

.swiper-hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    animation-name: resize;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
    z-index: -1;
}

@keyframes resize {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.swiper-hero__img img {
    width: auto;
    height: 100%;
}

/* ABOUT */


.about {
    padding: 80px 160px;
    padding-bottom: 70px;
}

.about__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--color-text);
    margin-bottom: 16px;
}

.about__descr {
    max-width: 1080px;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-text);
}

/* GALLERY */

.gallery {
    padding: 80px 160px;
    padding-bottom: 88px;
    background-image: url(../img/gallery-bg-1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.gallery__block {
    position: relative;
}

.gallery__filter {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 25%;
}

.gallery__checkbox-group {
    display: flex;
    flex-direction: column;
}

.gallery__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--color-white);
    margin-bottom: 18px;
}

.gallery__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
    margin-bottom: 10px;
}

.gallery__form {
    min-width: 25%;
}

/* CHOICES */

.choices {
    height: 40px;
    font-size: 16px;
    border: 1px solid var(--color-white);
    border-radius: 6px;
    background-color: transparent;
    color: var(--color-white);
    margin-bottom: 184px;
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);
}

.choices:focus-visible {
    background: rgba(255, 255, 255, 0.2);
}

.choices:hover {
    background: rgba(255, 255, 255, 0.2);
}

.choices__list .is-selected {
    display: none;
}

.is-open .choices {
    font-size: 16px;
    border: 1px solid var(--color-white);
    border-radius: 6px;
    background-color: transparent;
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--color-white);
    min-height: auto;
}

.is-open .choices__list {
    font-size: 18px;
    background: transparent;
    color: var(--color-white);
}

.choices[data-type*="select-one"]::after {
    border-color: rgb(255, 255, 255) transparent transparent;
}

.choices[data-type*="select-one"].is-open::after {
    border-color: transparent transparent rgb(255, 255, 255);
}

.choices__item--choice {
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    transition: var(--transition-bg-color-03s);
}

.choices__item--choice:hover {
    background: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    border: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px;
}

.choices__list {
    padding: 0;
}

/* CHECKBOX */

.gallery__checkbox-label {
    position: relative;
    cursor: pointer;
    padding-left: 24px;
    font-size: 14px;
    margin-bottom: 15px;
    color: var(--color-white);
    transition: var(--transition-color-03s);
}

.gallery__checkbox-label:focus-visible,
.gallery__checkbox-label:hover {
    color: var(--color-hover);
}

.gallery__checkbox-label:last-child {
    margin-bottom: 0;
}

.gallery__checkbox {
    display: none;
}

.gallery__checkbox+span {
    position: absolute;
    top: 2px;
    left: 0;
    width: 12px;
    height: 12px;
    text-align: center;
    border: 1px solid var(--color-white);
    transition: var(--transition-color-03s);
    transition: border-color 0.3s ease-in-out;
}

.gallery__checkbox:hover+span {
    border-color: var(--color-hover);
}

.gallery__checkbox-label:focus-visible>span {
    border-color: var(--color-hover);
}

.gallery__checkbox+span::before {
    content: "\2022";
    color: var(--color-hover);
    position: absolute;
    top: -4px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery__checkbox:checked+span::before {
    opacity: 1;
}

.gallery__checkbox:checked+span {
    border-color: var(--color-btn);
}

/* .gallery__checkbox-label > .gallery__checkbox:checked {
    color: var(--color-btn);
} */

.gallery__slide-show {
    overflow: hidden;
    display: block;
    position: absolute;
    width: 74%;
    left: 28%;
    top: 0;
    z-index: 50;
    padding-top: 85px;
}

.swiper-gallery {
    position: relative;
}

.swiper-pagination-fraction {
    color: var(--color-white);
    bottom: 20px;
}

.swiper-nav {
    display: flex;
    position: absolute;
    width: 130px;
    height: 30px;
    bottom: 104%;
    left: 0;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #666666;
    border-radius: 60px;
    top: 22%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    transition: all 0.3s ease-in-out;
}

.swiper-button-next:focus-visible,
.swiper-button-prev:focus-visible {
    border: 2px solid var(--color-black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--color-btn);
}

.swiper-button-next:active,
.swiper-button-prev:active {
    background-color: var(--color-active);
    border: 2px solid var(--color-black);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: "";
    position: absolute;
    top: 40%;
    left: 40%;
    width: 7px;
    height: 7px;
    border-top: 1px solid var(--color-white);
    border-left: 1px solid var(--color-white);
}

.swiper-button-prev {
    left: 0;
    transform: rotate(-45deg);
}

.swiper-button-next {
    right: 0;
    transform: rotate(135deg);
}

.gallery__img {
    height: 100%;
}

.swiper-gallery__btn {
    position: relative;
    border: none;
    line-height: 0;
    transition: all 0.3s ease-in-out;
}

.swiper-gallery__btn::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    background-image: url(../img/gallery-zoom.svg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 0 25px rgba(194, 131, 243, 0.7) inset;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.swiper-gallery__btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 3px var(--color-focus) inset;
    z-index: 100;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.swiper-gallery__btn:focus-visible::before {
    opacity: 1;
}

.swiper-gallery__btn:hover::after {
    opacity: 1;
}

.swiper-gallery__btn:active::after {
    opacity: 1;
    box-shadow: 0 0 0 25px rgba(194, 131, 243, 0.8) inset;

}
/* 
.fixed-overlay {
    text-align: center;
    white-space: nowrap;
}

.fixed-overlay::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 300px;
}
 */
.swiper-gallery__modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    z-index: 200;
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
    display: none;
}

.swiper-gallery__modal_visible {
    display: flex;
}

.modal__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    max-width: 500px;
    padding: 50px;
}

.modal__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-text);
}

.modal__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-text);
}

.modal__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
    margin-bottom: 30px;
}

.modal__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-text);
}

.modal__img {
    min-width: 400px;
    min-height: 500px;
    background-image: url(../img/gallery-1920-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.modal__btn-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    border: none;
    background: transparent;
    transition: all 0.1s ease;
}

.modal__btn-close:hover {
    opacity: 1;
}

.modal__btn-close:before,
.modal__btn-close:after {
    position: absolute;
    content: ' ';
    left: 15px;
    top: 0;
    height: 32px;
    width: 2px;
    background-color: #333;
}

.modal__btn-close:before {
    transform: rotate(45deg);
}

.modal__btn-close:after {
    transform: rotate(-45deg);
}

/* CATALOG */

.catalog {
    padding: 80px 160px 33px 160px;
}

.catalog__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--color-text);
    margin-bottom: 17px;
}

.catalog__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 1080px;
    color: var(--color-text);
    margin-bottom: 38px;
}

.catalog__block {
    display: flex;
}

.catalog-preview__item {
    display: none;
}

.catalog-preview__item_active {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-right: 50px;

}

.catalog-preview__img {
    margin-bottom: 27px;
}

.catalog-preview__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-text);
    margin-bottom: 10px;
}

.catalog-preview__date {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
    margin-bottom: 5px;
}

.catalog-preview__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-text);
    margin-bottom: 15px;
}

.catalog-sourse__item {}

.catalog-sourse__title {}

.catalog-sourse__btn {
    display: block;
    border: none;
    border-bottom: 1px solid transparent;
    line-height: 32px;
    background: transparent;
    cursor: pointer;
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);
    transition: all 0.3s ease-in-out;
}

.catalog-sourse__btn:focus-visible {
    background: var(--color-focus);
    color: var(--color-white);
}

.catalog-sourse__btn:hover {
    color: var(--color-btn);
    border-bottom: 1px solid var(--color-btn);
}

.catalog-sourse__btn:active {
    color: var(--color-active);
}

.column {
    column-count: 3;
}

.catalog-sourse__descr {
    align-items: center;
    line-height: 22px;
    color: var(--color-text);
    position: relative;
}

.catalog-sourse__descript {
    max-width: 300px;
}

.catalog-sourse__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-text);
}

.catalog-sourse__img {
    margin-left: 10px;
    outline: 1px solid var(--color-gray);
    outline-offset: 9px;
    margin-right: 30px;
}

.catalog-sourse__link-gallery {
    max-width: max-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-btn);
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);
}

.catalog-sourse__link-gallery:focus-visible {
    color: var(--color-white);
    background-color: var(--color-focus);
}

.catalog-sourse__link-gallery:hover {
    color: var(--color-hover);
}

.catalog-sourse__link-gallery:active {
    color: var(--color-active);
}

/* ACCORDION */

.catalog-sourse {
    display: flex;
    width: 50%;
}

.catalog-sourse__list {
    width: 100%;
}

.accordion {}

.ui-widget,
.ui-widget button {
    font-family: 'Open Sans', sans-serif;
}

.ui-accordion .ui-accordion-header {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 40px 0;
    margin-top: -1px;
}

.catalog-sourse__item:focus .catalog-sourse__title {
    color: var(--color-white);
    background-color: var(--color-btn);
}

.ui-corner-all {
    border-radius: none;
}

.ui-widget button {
    display: block;
    text-align: start;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
    background: transparent;
    color: var(--color-text);
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);

}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none;
    border-top: 1px solid var(--color-active);
    border-bottom: 1px solid var(--color-active);
    background: transparent;
    color: var(--color-btn);
}

.ui-accordion .ui-accordion-content {
    padding: 29px 0;
    border: none;
    background: transparent;
    overflow: auto;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-radius: 0;
}

.ui-icon {
    position: absolute;
    left: 96%;
    width: 50px;
    height: 50px;
    background-position: center center;
    transition: background 0.2s linear;

}

.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url(../img/accordion-open.svg);
}

.ui-state-hover .ui-icon,
.ui-button:hover:not(:active) .ui-icon {
    background-image: url(../img/accordion-hover.svg);
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
    background-image: url(../img/accordion-close.svg);
}

.ui-state-hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
}

.ui-state-active {
    border-color: var(--color-active);
    color: var(--color-active);
}


/* EVENTS */


.events {
    padding: 80px 160px;
    padding-bottom: 0;
}

.events__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;

    color: var(--color-text);
    margin-bottom: 16px;

}

.swiper-events {
    position: relative;
    overflow: hidden;
}

.swiper-events .swiper-button-next,
.swiper-events .swiper-button-prev,
.swiper-projects .swiper-button-next,
.swiper-projects .swiper-button-prev {
    background-color: #ececec;
}

.swiper-events .swiper-button-next::after,
.swiper-events .swiper-button-prev::after,
.swiper-projects .swiper-button-next::after,
.swiper-projects .swiper-button-prev::after {
    border-color: var(--color-black);
}

.swiper-events .swiper-button-next:focus-visible,
.swiper-events .swiper-button-prev:focus-visible,
.swiper-projects .swiper-button-next:focus-visible,
.swiper-projects .swiper-button-prev:focus-visible {
    border: 2px solid var(--color-btn);
}

.swiper-events .swiper-button-next:hover,
.swiper-events .swiper-button-prev:hover,
.swiper-projects .swiper-button-next:hover,
.swiper-projects .swiper-button-prev:hover {
    background-color: var(--color-btn-hover);
}

.swiper-events .swiper-button-next:active,
.swiper-events .swiper-button-prev:active,
.swiper-projects .swiper-button-next:active,
.swiper-projects .swiper-button-prev:active {
    background-color: var(--color-btn-hover);
    border: 2px solid var(--color-btn);
}


.swiper-events__nav {
    width: 100%;
    position: absolute;
    top: 50%;
}

.events__img {
    width: 100%;
}

.events__name {
    width: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
    margin-bottom: 13px;
}

.events__date {
    display: block;
}

.events__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: var(--color-text);
}

.events__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-text);
    margin-bottom: 75px;
}

.events__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: max-content;
    padding: 7px 50px 40px 50px;
    border: 1px solid var(--color-gray);
}

.events__link {
    width: 76%;
    max-width: max-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-btn);
    border-bottom: 1px solid var(--color-btn);
}

.events__link:focus-visible {
    background-color: var(--color-focus);
    color: var(--color-white);
}

.events__link:hover {
    color: var(--color-focus);
    border-color: var(--color-focus);
}

.events__link:active {
    color: var(--color-black);
    border-color: var(--color-black);
}



/* PROJECTS */


.projects {
    padding: 80px 160px;
}

.projects__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--color-text);
    margin-bottom: 16px;
}

.projects__descr {
    max-width: 1080px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-text);
    margin-bottom: 20px;
}

.projects__info {
    border: none;
    background: transparent;
}

.projects__info:focus svg,
.projects__info:hover svg {
    fill: var(--color-btn-hover);
}

.projects__link {
    color: var(--color-btn);
    border-bottom: 1px solid transparent;
}

.projects__link_tablet {
    display: none;
}

.projects__link:focus-visible {
    background-color: var(--color-btn);
    color: var(--color-white);
}

.projects__link:hover {
    border-bottom: 1px solid var(--color-btn);
}

.projects__link:active {
    color: var(--color-active);
    border-bottom: 1px solid var(--color-active);
}

.projects__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-text);
    margin-bottom: 23px;
}

.projects__partners {
    padding: 0 75px;
    position: relative;
}

.swiper-projects {
    overflow: hidden;
}

.swiper-projects__nav {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}

.swiper-projects img {
    filter: grayscale(1);
    transition: filter 0.1s linear;
}

.swiper-projects .swiper-slide:focus img {
    box-sizing: border-box;
    border: 1px solid var(--color-focus);
}

.swiper-projects .swiper-slide:hover img {
    filter: none;
}

/* CONTACTS */

.contacts__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 160px;
    border: 1px solid var(--color-gray);
}

address {
    font-style: inherit;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-text);
    margin-right: 20px;
}

address span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-text);
}

.contacts__form {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.form__item {
    margin-right: 20px;
}

.form__input {
    position: relative;
    min-width: 270px;
    height: 50px;
    border: 1px solid var(--color-text);
    border-radius: 100px;
    padding: 0 24px;
    background: transparent;
    transition: var(--transition-bg-color-03s);
    margin-bottom: 10px;
}

.form__input:focus-within {
    background: var(--color-white);
}

.form__input:hover:not(:focus-within) {
    cursor: pointer;
    background: #eaeaea;
}

.is-invalid {
    border-color: #D11616;
}

.just-validate-error-label {
    position: relative;
    padding-left: 20px;
    bottom: 70px;
    color: #D11616 !important;
}

.btn-primary {
    min-height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-btn);
    border: 2px solid var(--color-btn);
    border-radius: 100px;
    padding: 0 35px;
    background: transparent;
    transition: var(--transition-color-03s), var(--transition-bg-color-03s);
}

.btn-primary:focus-visible {
    outline: 2px solid var(--color-hover);
    outline-offset: 2px;
}

.btn-primary:hover {
    color: var(--color-white);
    background-color: var(--color-btn);
}

.btn-primary:active {
    color: var(--color-white);
    background-color: var(--color-btn);
    border-color: var(--color-btn-hover);
}

.btn_mobile {
    display: none;
}

.contacts__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-text);
    margin-bottom: 10px;
}

.contacts__link {
    margin-right: 17px;
}

.contacts__link img {
    width: 40px;
    height: 40px;
}

.contacts__link:focus-visible {
    filter: brightness(120%);
}

.contacts__link:hover {
    filter: brightness(120%);
}

.contacts__link:active {
    filter: grayscale(1);
}

/* MAP */

[class*="ground-pane"] {
    filter: grayscale(100%);
}

.ymaps-2-1-79-map-copyrights-promo {
    display: none;
}

/* FOOTER */

.footer {
    padding: 45px 160px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-black);
}

.footer__social {
    display: flex;
}

.footer__link svg path {
    transition: fill 0.3s ease;
}

.footer__link:focus-visible svg path {
    fill: var(--color-white);
}

.footer__link:hover svg path {
    fill: var(--color-white);
}

.footer__link:active svg path {
    fill: var(--color-btn);
}

.footer__link:not(:last-child) {
    margin-right: 20px;
}


/* MEDIA */


@media (max-width: 1400px) {

    .header-top_tablet,
    .hero,
    .about,
    .gallery,
    .catalog,
    .events,
    .projects,
    .burger,
    .contacts__main,
    .footer {
        padding-left: 80px;
        padding-right: 80px;
    }

    .header-top_desktop {
        display: none;
    }

    .header-bottom {
        display: none;
    }

    .header-top_tablet {
        min-height: 100px;
        display: flex;
    }

    .header-top__login_tablet {
        display: inline-block;
    }

    /* SEARCH TABLET */

    .header-top__search {
        display: flex;
    }

    .header-top__btn {
        width: 28px;
        height: 28px;
        border: none;
        background: transparent;
    }
    .header-top__btn:focus-visible svg rect,
    .header-top__btn:focus-visible svg path {
        fill: var(--color-btn);
    }
    .header-top__btn:hover svg rect,
    .header-top__btn:hover svg path {
        fill: var(--color-btn-hover);
    }
    .header-top__btn:active svg rect,
    .header-top__btn:active svg path {
        fill: var(--color-active);
    }

    .header-top__btn>svg {
        width: 100%;
        height: 100%;
    }

    .search__input {
        padding: 0 10px;
    }

    .header-top__input {
        width: 100%;
    }

    .header-top__form {
        position: absolute;
        display: flex;
        top: 36%;
        right: 80px;
        background-color: var(--color-black);
    }

    .header-top__form_close {
        display: none;
    }

    .events__item {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1024px) {

    .header-top_tablet,
    .hero,
    .about,
    .gallery,
    .catalog,
    .events,
    .projects,
    .burger,
    .contacts__main,
    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header-top__form {
        right: 50px;
    }

    .hero {
        padding-top: 110px;
        padding-bottom: 115px;
    }

    .hero__title {
        margin-bottom: 10px;
    }

    .hero__descr {
        width: 700px;
        margin-bottom: 135px;
    }

    .about {
        padding-top: 80px;
    }

    .gallery {
        background-image: url(../img/gallery-bg-1024.jpg);
        padding-bottom: 122px;
    }

    .gallery__filter {
        min-width: 31%;
    }

    .choices {
        margin-bottom: 113px;
    }

    .gallery__slide-show {
        width: 68%;
        left: 36%;
    }

    .modal__img {
        min-width: 320px;
    }

    .modal__block {
        max-width: 350px;
    }

    .swiper-gallery__modal {
        top: 56%;
    }

    .catalog-preview__item_active {
        width: 52%;
    }

    .catalog__descr {
        width: 102%;
    }

    .catalog-sourse__img {
        width: 170px;
    }

    .ui-icon {
        left: 92%;
    }

    .column {
        column-count: 2;
    }

    .events {
        padding-top: 45px;
    }

    .events__descr {
        margin-bottom: 30px;
    }

    .projects {
        padding-top: 30px;
        padding-bottom: 75px;
    }

    .projects__descr {
        width: 101%;
    }

    .projects__partners {
        padding: 0 38px;
    }

    .contacts__main {
        width: 101%;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 43px;
    }

    address {
        margin-bottom: 33px;
    }

    .contacts__form {
        margin-bottom: 20px;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .logo {
        min-width: 187px;
    }

    .footer__link svg {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 900px) {
    .header-top__form {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        justify-content: space-between;
        padding: 30px 50px;
        z-index: 100;
    }

    .header-bottom__input {
        max-width: 100%;
    }

    .hero__descr {
        width: 101%;
    }
}

@media (max-width: 768px) {
    .header-top {
        position: relative;
    }

    .about__descr {
        width: 102%;
    }

    .gallery {
        /* display: flex; */
    }

    .gallery__block {
        /* display: flex; */
    }

    .gallery__filter {
        width: 43%;
    }

    .gallery__slide-show {
        position: initial;
        width: 100%;
    }

    .gallery {
        background-image: url(../img/gallery-bg-768.jpg);
        padding-bottom: 34px;
    }

    .catalog__block {
        flex-direction: column-reverse;
    }

    .catalog__descr {
        margin-bottom: 20px;
    }

    .catalog-sourse {
        width: 100%;
        margin-bottom: 57px;
    }

    .catalog-sourse__img {
        width: 250px;
    }

    .column {
        column-count: 3;
    }

    .ui-icon {
        /* left: 95%; */
    }

    .catalog-sourse__btn {
        line-height: 35px;
    }

    .catalog-preview__item_active,
    .swiper-events {
        width: 102%;
    }

    .events {
        padding-top: 25px;
    }

    .projects {
        padding-top: 88px;
        padding-bottom: 100px;
    }

    .projects__info {
        width: 16px;
    }

    .projects__link_desktop {
        display: none;
    }

    .projects__link_tablet {
        display: inline-block;
    }

    .projects__descr {
        margin-bottom: 28px;
    }
}

@media (max-width: 680px) {
    .hero__title {
        font-size: 55px;
        line-height: 65px;
    }

    .swiper-gallery__modal {
        top: 50%;
    }
}

@media (min-width: 319px) and (max-width: 540px) {

    .header-top_tablet,
    .hero,
    .about,
    .gallery,
    .catalog,
    .events,
    .projects,
    .burger,
    .contacts__main,
    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-top {
        min-height: 50px;
    }
    .header-top__login_tablet {
        padding: 10px 50px;
    }

    .burger {
        padding-top: 12px;
    }

    .burger__link {
        font-size: 16px;
        line-height: 32px;
    }

    .header__burger_open {
        margin-bottom: 35px;
    }
    .burger__item:last-child {
        padding-top: 30px;
    }

    .hero {
        padding-top: 25px;
        padding-bottom: 45px;
        text-align: center;
    }

    .hero__title {
        width: 100%;
        font-size: 32px;
        line-height: 40px;
    }

    .hero__descr {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 25px;
    }

    .hero__link {
        font-size: 12px;
        padding: 13px 20px;
    }
    .hero__link:hover {
        padding: 10px 16px;
    }
    .header-top_tablet {
        height: 50px;
        min-height: 50px;
    }

    .about {
        padding-top: 45px;
        padding-bottom: 40px;
    }

    .about__title {
        font-size: 28px;
        line-height: 50px;
        margin-bottom: 5px;
    }

    .about__descr {
        font-size: 14px;
        line-height: 28px;
    }

    .gallery {
        padding-top: 50px;
        background-image: url(../img/gallery-bg-320.jpg);

    }

    .gallery__title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .gallery__filter {
        width: 100%;
    }

    .gallery__subtitle {
        margin-bottom: 5px;
    }

    .gallery__slide-show {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .choices {
        margin-bottom: 80px;
    }

    .swiper-nav {
        top: 110%;
        left: 30%;
    }

    .catalog {
        padding-top: 50px;
    }

    .catalog__title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .catalog__descr {
        display: none;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 18px;
        line-height: 26px;
        padding: 23px 0;
    }

    .catalog-sourse__btn {
        line-height: 30px;
    }

    .catalog-preview__subtitle {
        width: 101%;
    }

    .catalog-preview__descr {
        margin-bottom: 0;
    }
    .catalog-sourse__descr {
        flex-direction: column;
    }
    .catalog-sourse__subtitle {
        padding-top: 10px;
    }
    .just-validate-error-label {
        bottom: 75px;
        font-size: 12px;
    }

    .ui-icon {
        left: 85%;
    }

    .column {
        column-count: 1;
    }

    .events {
        padding-top: 0;
    }

    .events__title {
        font-size: 28px;
        line-height: 28px;
    }

    .events__item {
        padding-left: 20px;
        padding-right: 15px;
    }

    .events__name {
        margin-bottom: 22px;
    }

    .projects {
        padding-top: 44px;
        padding-bottom: 30px;
    }

    .projects__title {
        font-size: 28px;
        line-height: 30px;
    }

    .projects__subtitle {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 16px;
    }

    .projects__descr {
        margin-bottom: 17px;
    }

    .logo {
        max-width: 100px;
        min-width: 100px;
    }

    .contacts__main {
        padding-top: 20px;
    }

    address {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 13px;
    }

    address span {
        font-size: 14px;
        line-height: 22px;
    }

    .form__input {
        height: 40px;
        margin-bottom: 20px;
    }

    .btn_desktop {
        display: none;
    }

    .btn_mobile {
        display: inline-block;
        min-height: 40px;
        max-height: 40px;
        font-size: 16px;
    }

    .contacts__title {
        font-size: 17px;
    }

    .map {
        height: 350px;
    }

    .footer {
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px;
    }

    .footer__social {
        margin-bottom: 20px;
    }
}